<h1>Cars</h1>

<% @cars.each do |c| %>
  Year: <%= c.year %>,
  Make: <%= c.make %>,
  Model: <%= c.model %>,
  Transmission: <%= c.transmission %>,
  Color: <%= c.color %><br>
<% end %>

<h1>Create New</h1>
<form class="" action="/cars" method="post">
  <label for="year">Year</label>
  <input type="number" name="car[year]" value="" />
  <label for="make">Make</label>
  <input type="text" name="car[make]" value="" />
  <label for="model">Model</label>
  <input type="text" name="car[model]" value="" />
  <label for="transmission">Transmission</label>
  <input type="text" name="car[transmission]" value="" />
  <label for="color">Color</label>
  <input type="text" name="car[color]" value="" />
  <button type="submit">Submit</button>
</form>
