<h2>New Car</h2>

<%= f.label :year %>
<%= f.text_field :year %>

<%= f.label :make %>
<%= f.text_field :make %>

<%= f.label :model %>
<%= f.text_field :model %>

<%= f.label :color %>
<%= f.text_field :color %>

<%= f.submit %>
<% end %>
