<h2>Cars Pls</h2>

<ul>
<% @cars.each do |car| %>
  <li><%= car.year %></li>
  <li><%= car.make %></li>
  <li><%= car.model %></li>
  <li><%= car.color %></li>
  <li><%= car.transmission %></li>
<% end %>
</ul>

<form action="/car/new">
  <button>Add a New Car!</button>
</form>
