<h2> Create New Task </h2>

<%= form_for @todo do |f| %>
  <p>
  <%= f.label :content %><br>
  <%= f.text_field :content %>
</p>

<p>
  <%= f.label "Is completed True or False?"  %><br>
  <%= f.text_field :is_completed %>
</p>


  <%= f.submit "Create" %>
<% end %>

<h4> <a href="/todos"> < Back </a></h4>
