<%= link_to "< Back", todos_path %>
<p>
    <div class="well">
        <h2>Add Todo</h2>

        <%= form_for :todo, url: todos_path do |f| %>
        <p>
            <%= f.label :content %><br>
            <%= f.text_field :content, {:class=> 'form-control'} %>
        </p>
        <%= f.label :is_completed %><br>
        <%= f.text_field :is_completed, {:class=> 'form-control'} %>
        <p><p>
            <%= f.submit ({:class =>'btn btn-primary'}) %>
    </div>
    <% end %>
