<h1>Show Car</h1>

<a href="/cars/<%= @car.id %>/edit">Edit Car<%= @car.id %></a>

<ul>
  <li><%= @car.make %> <%= @car.model %>
    <ul>
      <li><%= @car.year %></li>
      <li><%= @car.transmission %></li>
      <li><%= @car.color %></li>
    </ul>
  </li>
</ul>

<form action="/cars/<%= @car.id %>" method="post">
  <input type="hidden" name="_method" value="delete"/>
  <button type="submit" class="pokemon-button warning">Delete Car</button>
</form>
